<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bias.zochiwon_suhodae.homemade_guardian_beta">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.common.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo03_round"
        android:label="자취방 수호대"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/app_logo03_round"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.LoginActivity" android:screenOrientation="portrait">
        </activity>

        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.chat.activity.ChatActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>

        <service android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.common.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>

        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="bias.zochiwon_suhodae.homemade_guardian_beta.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="bias.zochiwon_suhodae.homemade_guardian_beta.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

        </provider>

        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.market.activity.MarketActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.market.activity.ModifyMarketActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.BasicActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.market.activity.GalleryActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.MemberInitActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.HostModelActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.market.activity.SearchActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.market.activity.SearchResultActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.photo.activity.PhotoPickerActivity" android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.WriteMarketActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.WriteCommunityActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.community.activity.CommunityActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.community.activity.EnlargeCommunityImageActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.community.activity.ModifyCommunityActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.community.activity.SearchCommunityActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.community.activity.SearchCommunityResultActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.MyInfoPostActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.MyInfo_WritenPostActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.UpdateInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.market.activity.EnlargeImageActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.zochiwon_suhodae.homemade_guardian_beta.Main.activity.MainActivity" android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="google.com" />
            </intent-filter>

        </activity>

    </application>

</manifest>